{% extends "base.html" %}

{% block content %}

  <h1>Taxi Service Drivers</h1>
  <h2>{{ driver.first_name }} {{ driver.last_name }} - {{ driver.license_number }}</h2>
  <h4>Cars of this driver:</h4>
  <table>
    <thead>
      <tr>
        <th>Car</th>
        <th>Manufacturer</th>
        <th>Place</th>
      </tr>
    </thead>
    <tbody>
      {% for car in driver.cars.all %}
        <tr>
          <td><a href="{% url 'taxi:car-detail' pk=car.id %}">{{ car.model }}</a></td>
          <td>{{ car.manufacturer.name }}</td>
          <td>{{ car.manufacturer.country }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
