{% extends "base.html" %}

{% block content %}

  <h1>Taxi Service Drivers</h1>
  <h2>Drivers:</h2>

  <table>
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Username</th>
        <th>License number</th>
      </tr>
    </thead>
    <tbody>
      {% for driver in driver_list %}
        <tr>
          <td>{{ driver.first_name }}</td>
          <td>{{ driver.last_name }}</td>
          <td><a href="{% url 'taxi:driver-detail' pk=driver.id %}">{{ driver.username }}</a></td>
          <td>{{ driver.license_number }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
