{% extends "base.html" %}

{% block content %}
  <h1 class="mt-4">Taxi Service Home</h1>
  <p class="lead">Welcome to Best Taxi Ever!</p>
  <h2>Dynamic content</h2>
  <p>The Taxi service has the following record counts:</p>
  <ul class="list-group">
    <li class="list-group-item"><strong>Cars:</strong> {{ num_cars }}</li>
    <li class="list-group-item"><strong>Drivers:</strong> {{ num_drivers }}</li>
    <li class="list-group-item"><strong>Manufacturers:</strong> {{ num_manufacturers }}</li>
  </ul>
{% endblock %}
